html{
	position: relative;

}

hr{
	width: 100px;
	border-top: 4px solid #34D65C;

}
body{
	font-family: Assistant,sans-serif;
	background-color:#EFEFEF;
}
button{
	font-style: bold;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #333;
	padding-top: 30px;

}
footer p{
	color: #aaa;
	font-size: 1em;
}